.dialogs{
  display: grid;
  margin: auto;
  grid-template-areas:"n m";
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
}

.dialogNames{
  grid-area: n;
  display: flex;
  flex-direction: column;
}

.messages{
  grid-area: m;
}
