.dialogs{
  display: grid;
  margin: auto;
  grid-template-areas:"n m";
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
}

.dialogNames{
  grid-area: n;
  display: flex;
  flex-direction: column;
}

.dialog a{
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  text-align: left;
  font-family: cursive;
  font-size: 17px;
  color: black;
  background-color: rgb(252, 227, 138);
}
.dialog a:hover{
  background-color: rgb(248, 255, 134);
}


.active{
  background-color:rgb(255, 180, 29);
}

.messages{
  grid-area: m;
}
